{% extends 'base.html.twig' %}

{% block title %}Quiz API{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="./css/style.css"/>
{% endblock %}

{% block body %}
    <div id="page-container" class="">
        <header>
            <div id="top-bar" class="">
            </div>

            <div id="title-bar" class="">
                <h1>Welcome to QUIZ API!</h1>
            </div>
        </header>
        <div class="main" >
            <div class="main-left-column" >
                <h2>What iz QUIZ API?</h2>
                <p>QUIZ API is a free database of quiz questions from many different categories. Each item consists of question and 4 answers: 1 correct and 3 incorrect.</p>
                <p>API provides an access to presented GET requests. The data is returned as JSON object.</p>
                <img src="./img/json.png" alt="JSON icon" width="100"/>
                <p>QUIZ API is made for development and educational purposes.</p>
            </div>
            <div class="main-right-column" >
                <h2>Available requests</h2>

                <div class="method-container">
                    <p><span class="method-type">GET</span> <span class="method-url">/api/random/{number}</span></p>
                    <p><span class="method-description">Receive a specific number of randomly chosen questions.</span></p>
                    <p class="example-url">
                        <input type="text" value="{{ app.request.uri }}api/random/3" id="example-1" class="method-url-example" disabled/>
                        <span class="tooltip">
                            <button class="button-copy" onclick="myFunction('example-1', 'tooltip-1')" onmouseout="outFunc()">
                                <span class="tooltiptext" id="tooltip-1">Copy to clipboard</span>
                                Copy
                            </button>
                        </span>
                    </p>
                </div>

                <div class="method-container">
                    <p><span class="method-type">GET</span> <span class="method-url">/api/all</span></p>
                    <p><span class="method-description">Receive all records from database.</span></p>
                    <p class="example-url">
                        <input type="text" value="{{ app.request.uri }}api/all" id="example-2" class="method-url-example" disabled/>
                        <span class="tooltip method-url-example-button">
                            <button class="button-copy" onclick="myFunction('example-2', 'tooltip-2')" onmouseout="outFunc()">
                                <span class="tooltiptext" id="tooltip-2">Copy to clipboard</span>
                                Copy
                            </button>
                        </span>
                    </p>
                </div>

                <div class="method-container">
                    <p><span class="method-type">GET</span> <span class="method-url">/api/single/{id}</span></p>
                    <p><span class="method-description">Receive specific single question by its ID.</span></p>
                    <p class="example-url">
                        <input type="text" value="{{ app.request.uri }}api/single/1" id="example-3" class="method-url-example" disabled/>
                        <span class="tooltip">
                            <button class="button-copy" onclick="myFunction('example-3', 'tooltip-3')" onmouseout="outFunc()">
                                <span class="tooltiptext" id="tooltip-3">Copy to clipboard</span>
                                Copy
                            </button>
                        </span>
                    </p>
                </div>

            </div>
        </div>
        <footer>
            <div id="footer-bar">
                <p> Made by Michał Stancelewski from <a href="https://stancelewski.pl/">stancelewski.pl</a></p>
            </div>
        </footer>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="./js/CopyToClipboard.js"></script>

{% endblock %}
